# Ignoring compilation and temporary system files.
*.pyc
*.DS_Store

# Ignoring virtual environment directory and files within.
venv/*

# Ignoring private files.
SPIArticleAnalyzer/config.yaml

# Ignoring local code storage for code not being currently used
CodeStorage/*
